extends layout_bs

block content
    div(class='container')
        h1 Get IPTC Photo Metadata
        div(class="row")
            div(class="col-md-6") ... as retrieved from the image file: <strong>#{imageTitle}</strong>
        div(class="row")
            div(class="col-md-6") <img src="#{imgwsfpath}" width="300">
        div(class="row")
            div(class="col-md-6") The tables below show the IPTC Field Names in alphabetical order.<br>How the fields should be filled in explains the <a href='https://www.iptc.org/std/photometadata/documentation/userguide' target='_blank'>IPTC Photo Metadata User Guide</a>
        div(class="row topspace1")
            div(class="col-md-6") <a href="/">Back to Request Form</a>

        h2 IIM - IPTC Photo Metadata Fields
        table(class='pmd1 table-bordered table-striped table-curved')
            thead
                tr
                    th Field Name
                    th Field Value
            tbody
                each iimprop in iimOutObj
                    tr
                        td=iimprop.pname
                        td=iimprop.pvalue

        h2 XMP - IPTC Photo Metadata Fields
        table(class='pmd1 table-bordered table-striped table-curved')
            thead
                tr
                    th Field Name
                    th Field Value
            tbody
                each rowL1 in xmpOutObj
                    tr
                        - var singlevalueL1 = rowL1.ptype == "plain";
                        td=rowL1.pname
                        if singlevalueL1
                            td=rowL1.pvalue
                        else
                            - var rowsL2 = rowL1.pvalue
                            td: table(class='pmd1 table-bordered table-striped')
                                tbody
                                    each rowL2 in rowsL2
                                        - var singlevalueL2 = rowL2.ptype == "plain";
                                        tr
                                            td=rowL2.pname
                                            if singlevalueL2
                                                td=rowL2.pvalue
                                            else
                                                - var rowsL3 = rowL2.pvalue;
                                                td: table(class='pmd1 table-bordered table-striped')
                                                    tbody
                                                        each rowL3 in rowsL3
                                                            tr
                                                                td=rowL3.pname
                                                                td=rowL3.pvalue

        h2 Exif - Fields related to IPTC Photo Metadata
        table(class='pmd1 table-bordered table-striped table-curved')
            thead
                tr
                    th Field Name
                    th Field Value
            tbody
                each exifprop in exifOutObj
                    tr
                        td=exifprop.pname
                        td=exifprop.pvalue

        h2 Any other data
        table(class='pmd1 table-bordered table-striped table-curved')
            thead
                tr
                    th Field Name
                    th Field Value
            tbody
                each anyprop in anyOutObjStd
                    tr
                        td=anyprop.pname
                        td=anyprop.pvalue


        div(class="row topspace2")
            div(class="col-md-6") <a href="/">Back to Request Form</a>

