extends layout

block content
    div(class='container')
        div(class="col-md-1")
            <img src="/images/logo.jpg"/>
        h1 Get IPTC Photo Metadata
        div(class="row")
            div(class="col-md-6") ... as retrieved from the image file: <strong>#{imageTitle}</strong>
        div(class="row")
           if imgurl === 'local'
              div(class="col-md-6") Uploaded local files are not displayed
           else
              div(class="col-md-6") <img src="#{imgurl}" width="300">
        div(class="row")
            div(class="col-md-6 techmdbox") original size:#{techMd.width}x#{techMd.height}, colorspace:#{techMd.colorspace}, compression:#{techMd.compression}
        div(class="row")
            div(class="col-md-6 topspace2") The tables below show the IPTC Field Names in alphabetical order, they are linked to the specification in the IPTC Photo Metadata Standard.<br>Fields with multiple occurrences show an index in []-brackets as prefix.<br>Go to the <a href='https://www.iptc.org/std/photometadata/documentation/userguide' target='_blank'>IPTC Photo Metadata User Guide</a> for information about how the fields should be used.
        div(class="row topspace1")
            - var ilfntopics = '/getpmd/html/topics/'+ labeltype + '/?imglfn=' + imglfn + '||' + imageTitle;
            - var ilfncompare = '/getpmd/html/compare/'+ labeltype + '/?imglfn=' + imglfn + '||' + imageTitle;
            - var ilfnisearch1 = '/getpmd/html/isearch1/'+ labeltype + '/?imglfn=' + imglfn + '||' + imageTitle;
            div(class="col-md-8") <span style="border: 1px black solid; background-color: #ccffe6; padding:3px;"><a href="/">Back to Request Form</a></span> <span style="border: 1px black solid; background-color: #ffe6cc; padding:3px;margin-left: 10px;"><a href="#{ilfntopics}">Grouped by metadata topics</a></span> <span style="border: 1px black solid; background-color: #ffe6cc; padding:3px; margin-left: 5px;"><a href="#{ilfncompare}">Compared fields</a></span> <span style="border: 1px black solid; background-color: #ffe6cc; padding:3px; margin-left: 5px;"><a href="#{ilfnisearch1}">Search engine fields</a></span>

        div(class="resultdata1")
            h2 Metadata fields grouped by technical format standard

            h3 IIM format: IPTC Photo Metadata fields only
            table(class='pmd1 table-bordered table-striped table-curved')
                thead
                    tr
                        th Field Name
                        th Field Value
                tbody
                    each iimprop in iimOutObj
                        - var propspecurl = "https://www.iptc.org/std/photometadata/specification/IPTC-PhotoMetadata" + iimprop.pspecidx
                        tr
                            td <a href="#{propspecurl}">#{iimprop.pname}</a>
                            td=iimprop.pvalue

            h3 XMP format: IPTC Photo Metadata fields only
            table(class='pmd1 table-bordered table-striped table-curved')
                thead
                    tr
                        th Field Name
                        th Field Value
                tbody
                    each rowL1 in xmpOutObj
                        tr
                            - var singlevalueL1 = rowL1.ptype == "plain";
                            - var rowL1specurl = "https://www.iptc.org/std/photometadata/specification/IPTC-PhotoMetadata" + rowL1.pspecidx
                            td <a href="#{rowL1specurl}">#{rowL1.pname}</a>
                            if singlevalueL1
                                td=rowL1.pvalue
                            else
                                - var rowsL2 = rowL1.pvalue
                                td: table(class='pmd1 table-bordered table-striped')
                                    tbody
                                        each rowL2 in rowsL2
                                            - var singlevalueL2 = rowL2.ptype == "plain";
                                            tr
                                                td=rowL2.pname
                                                if singlevalueL2
                                                    td=rowL2.pvalue
                                                else
                                                    - var rowsL3 = rowL2.pvalue;
                                                    td: table(class='pmd1 table-bordered table-striped')
                                                        tbody
                                                            each rowL3 in rowsL3
                                                                - var singlevalueL3 = rowL3.ptype == "plain";
                                                                tr
                                                                    td=rowL3.pname
                                                                    if singlevalueL3
                                                                        td=rowL3.pvalue
                                                                    else
                                                                        - var rowsL4 = rowL3.pvalue;
                                                                        td: table(class='pmd1 table-bordered table-striped')
                                                                            tbody
                                                                                each rowL4 in rowsL4
                                                                                    tr
                                                                                        td=rowL4.pname
                                                                                        td=rowL4.pvalue


            h3 Exif format: Exit Tags related to IPTC Photo Metadata
            table(class='pmd1 table-bordered table-striped table-curved')
                thead
                    tr
                        th Field Name
                        th Field Value
                tbody
                    each exifprop in exifOutObj
                        tr
                            td=exifprop.pname
                            td=exifprop.pvalue

            h2 Any other data
            table(class='pmd1 table-bordered table-striped table-curved')
                thead
                    tr
                        th Field Name
                        th Field Value
                tbody
                    each anyprop in anyOutObjStd
                        tr
                            td=anyprop.pname
                            td=anyprop.pvalue


            div(class="row topspace2")
                div(class="col-md-8") <span style="border: 1px black solid; background-color: #ccffe6; padding:3px;"><a href="/">Back to Request Form</a></span> <span style="border: 1px black solid; background-color: #ffe6cc; padding:3px;margin-left: 10px;"><a href="#{ilfntopics}">Grouped by metadata topics</a></span> <span style="border: 1px black solid; background-color: #ffe6cc; padding:3px; margin-left: 5px;"><a href="#{ilfncompare}">Compared fields</a></span> <span style="border: 1px black solid; background-color: #ffe6cc; padding:3px; margin-left: 5px;"><a href="#{ilfnisearch1}">Search engine fields</a></span>


