extends layout_bs

block content
    div(class='container')
        h1 Get IPTC Photo Metadata and Compare
        div(class="row")
            div(class="col-md-6") ... as retrieved from the image file: <strong>#{imageTitle}</strong>
        div(class="row")
            div(class="col-md-6") <img src="#{imgwsfpath}" width="300">
        div(class="row topspace2")
            div(class="col-md-6") The tables below show all IPTC Photo Metadata fields which may have values in at least the IIM and XMP format, optionally also a related Exif value may exist. The values of these fields should be identical across the formats. Therefore please check if this is the case, a note helps.<br />The IPTC Photo Metadata User Guide provides an insight how metadata values exist in different formats, see <a href="https://www.iptc.org/std/photometadata/documentation/userguide/#!Documents/photometadataunderthehood.htm" target="_blank">Introduction -- Photo Metadata - Under the Hood</a>.
        div(class="row topspace1")
            div(class="col-md-6") <a href="/">Back to Request Form</a>

        h2 Compared Photo Metadata Fields

        each compdataset in matchOutObj
            div(class="row topspace2")
                div(class="col-md-6") Compared field:  <strong>#{compdataset.label}</strong>

            table(class='pmd1 table-bordered table-striped table-curved')
                tbody
                    - var testiim = compdataset.iimvalue != "NA";
                    if testiim
                        tr
                            td IIM value
                            td=compdataset.iimvalue
                    - var testxmp = compdataset.xmpvalue != "NA";
                    if testxmp
                        tr
                            td XMP value
                            td=compdataset.xmpvalue
                    - var testexif = compdataset.exifvalue != "NA";
                    if testexif
                        tr
                            td Exif value
                            td=compdataset.exifvalue
                    - var testnote = compdataset.note != "NA";
                    if testnote
                        tr
                            td Note
                            td=compdataset.note


        div(class="row topspace2")
            div(class="col-md-6") <a href="/">Back to Request Form</a>
