extends layout

block content
    div(class='container')
        div(class="col-md-1")
            <img src="/images/logo.jpg"/>
        h1 Get IPTC Photo Metadata and Compare
        div(class="row")
            div(class="col-md-6") ... as retrieved from the image file: <strong>#{imageTitle}</strong>
        div(class="row")
            if imgurl === 'local'
                div(class="col-md-6") Uploaded local files are not displayed
            else
                div(class="col-md-6") <img src="#{imgurl}" width="300">
        div(class="row")
            div(class="col-md-6 techmdbox") original size:#{techMd.width}x#{techMd.height}, colorspace:#{techMd.colorspace}, compression:#{techMd.compression}
        div(class="row topspace2")
            div(class="col-md-6") The tables below show IPTC fields with values optionally embedded in different technical metadata formats, usually IIM and XMP and sometimes also EXIF.<br>Multiple values of field are separated by a comma.<br>Values should be identical (synchronised by software) across these formats. Go to <a href="https://www.iptc.org/std/photometadata/documentation/userguide/#_photo_metadata_under_the_hood" target="_blank">Introduction -- Photo Metadata - Under the Hood</a> for more information about metadata processing and synchronizing.<br /><strong>To make invisible characters like spaces visible the values are shown inside curled brackets {} - they are not a part of the value!</strong>
        div(class="row topspace1")
            - var ilfnstds = '/getpmd/html/stds/'+ labeltype + '/?imglfn=' + imglfn + '||' + imageTitle;
            - var ilfntopics = '/getpmd/html/topics/'+ labeltype + '/?imglfn=' + imglfn + '||' + imageTitle;
            div(class="col-md-8") <span style="border: 1px black solid; background-color: #ccffe6; padding:3px;"><a href="/">Back to Request Form</a></span> <span style="border: 1px black solid; background-color: #ffe6cc; padding:3px;margin-left: 10px;"><a href="#{ilfnstds}">See grouped by technical standards</a></span> <span style="border: 1px black solid; background-color: #ffe6cc; padding:3px; margin-left: 5px;"><a href="#{ilfntopics}">See grouped by metadata topics</a></span>

        div(class="resultdata1")

            h2 Compared Photo Metadata Fields

            each compdataset in matchOutObj
                div(class="row topspace2")
                    div(class="col-md-6") Compared field:  <strong>#{compdataset.label}</strong>

                table(class='pmd1 table-bordered table-striped table-curved')
                    tbody
                        - var testiim = compdataset.iimvalue != "NA";
                        if testiim
                            tr
                                td IIM value
                                td=compdataset.iimvalue
                        - var testxmp = compdataset.xmpvalue != "NA";
                        if testxmp
                            tr
                                td XMP value
                                td=compdataset.xmpvalue
                        - var testexif = compdataset.exifvalue != "NA";
                        if testexif
                            tr
                                td Exif value
                                td=compdataset.exifvalue
                        - var testnote = compdataset.note != "NA";
                        if testnote
                            tr
                                td Note
                                td=compdataset.note


            div(class="row topspace2")
                - var ilfnstds = '/getpmd/html/stds/'+ labeltype + '/?imglfn=' + imglfn + '||' + imageTitle;
                - var ilfntopics = '/getpmd/html/topics/'+ labeltype + '/?imglfn=' + imglfn + '||' + imageTitle;
                div(class="col-md-8") <span style="border: 1px black solid; background-color: #ccffe6; padding:3px;"><a href="/">Back to Request Form</a></span> <span style="border: 1px black solid; background-color: #ffe6cc; padding:3px;margin-left: 10px;"><a href="#{ilfnstds}">See grouped by technical standards</a></span> <span style="border: 1px black solid; background-color: #ffe6cc; padding:3px; margin-left: 5px;"><a href="#{ilfntopics}">See grouped by metadata topics</a></span>


